
.userInformation{
    margin-right: 25%;
    margin-top: 10%;
}

.container{
    width: 30%;
    margin-left: 2%;
    margin-top: 10%;
}

.app{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.buttons{
    display: flex;
    justify-content: center;
  
}
#naveBar{
    position:absolute;
    top: 5%;
    left: 80%;
}

body{
    background-color: whitesmoke;
        background-image: url(../img/background.png);
}
.login{
    display: flex;
    justify-content:space-around;
    align-items: center;
}