!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<thymeleaf th:replace="header :: header"></thymeleaf>


<head xmlns:th="http://www.w3.org/1999/xhtml">

    <thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
               th:fragment="header" th:remove="tag">


        <title>MatchBeats</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <!-- Links for the bootstrap  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://localhost:8080/matchBeats/resources/css/mainIndex.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Colorlib Templates">
        <meta name="author" content="Colorlib">
        <meta name="keywords" content="Colorlib Templates">


        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <script src="javascript"></script>

        </head>

<body>


<nav class="navbar navbar-expand-md navbar-dark" style="background-color:transparent">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" ;>
        <ul class="navbar-nav mr-auto" ;>
            <li class="nav-item active">
                <img src="http://localhost:8080/matchBeats/resources/img/logo3.png" class="nav-link">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com"></a>
            </li>

        </ul>
    </div>

    <div class="mx-auto order-0" style="font-size: xxx-large">
        <h1 class="navbar-brand mx-auto" style="font-size: xx-large"><strong> Welcome </strong></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto" style="font-size: large">
            <li class="nav-item">
                <a class="nav-link" href="account.html"> Account </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="matches.html"> Matches </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Settings </a>
            </li>
            <a class="nav-link" href="login.html"> Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3 teste2">

            <div class="card-heading" img th:src="${user.userFoto}"></div>
            <div class="card-body ">
                <h1 class="title">Is this your next John Lennon?</h1>
                <form>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="First Name" th:text="${user.firstName}"
                               name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Last Name" th:field="*{user.lastName}"
                               name="password">
                    </div>

                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Music Experience"
                               th:field="*{user.musicExp}"
                               name="firstname">
                    </div>

                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Musical Instruments"
                               th:field="*{user.instrument}"
                               name="name">
                    </div>

                    <div class="p-t-10">
                        <span class="p-t-10">
                        <a href="http://localhost:8080/matchBeats/pagematch.html">
                            <button class="btn btn--pill btn--red" type="submit"
                                    style="background-color:  rgb(255, 11, 11);"><img
                                    src="http://localhost:8080/matchBeats/resources/img/match.png"
                                    width="15%"> Match <img
                                    src="http://localhost:8080/matchBeats/resources/img/match.png"
                                    width="15%">
                            </button> </a>
                            </span>
                        <span class="p-t-10">


                        <form th:object="${user}" th:action="@{/app}" method="post">
                            <button class="btn btn--pill btn--red"
                                    style="background-color:  rgb(255, 11, 11);"><img
                                    src="http://localhost:8080/matchBeats/resources/img/breakguitar.jpeg"
                                    width="15%"> Unmatch <img
                                    src="http://localhost:8080/matchBeats/resources/img/breakguitar.jpeg"
                                    width="15%">
                            </button>
                        </form>

                        </span>
                    </div>

            </div>

        </div>


    </div>
</div>
</div>


</body>

</html>
